$border-color: #313131;
$frame-color: #e1e0e5;
$header-background-color: #b3aeb2;
$text-area-texture-color: #edecf1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  border: 1px solid $border-color;
  width: 500px;
  height: 696px;
  margin: 0 auto;
  margin-top: 56px;
  border-radius: 25px;
  box-shadow: -8px 9px 16px -3px #000;
  background-color: #000;

  &-background {
    background-image: url("../assets/mtg-black-background.jpg");
    background-size: auto 696px;
    background-repeat: no-repeat;
    height: 90%;
    margin: 20px;
    border-radius: 25px;
  }

  &-frame {
    z-index: 1;
    position: relative;
    height: 110%;
    max-width: 96%;
    left: 2%;
    top: 0.5%;
    right: 2%;
    display: flex;
    flex-direction: column;

    &-text-area {
      margin: 0 auto;
      width: 97.5%;
      font-size: 24px;
      height: 35%;
      border: 1px solid $border-color;
      background-image: url("../assets/texture.jpg");
      background-repeat: repeat-y;
      box-shadow: 0 0 0 5px $border-color, -3px 3px 2px 5px #000;
    }

    &-description {
      margin: 8% 0 0 2%;

      &-break {
        margin: 1% 5%;
      }

      &-quote {
        font-style: italic;
        margin: 1% 0 0 2%;
      }
    }

    &-hp-container {
      display: flex;
      justify-content: flex-end;
      z-index: 1;
      width: 102%;
    }
  }

  &-artwork {
    z-index: -1;
    text-align: center;
    margin: 0 auto;
    width: 97.5%;
    max-height: 55%;
    overflow: hidden;
    border-left: 2px solid #000;
    border-bottom: 6px solid #000;
    box-shadow: 0 0 0 5px $border-color, -3px 3px 2px 5px #000;
  }

  // Shouldn't need to repeat this
  &-header--type {
    z-index: 1;
    font-family: "Beleren Bold";
    font-size: 20px;
    height: 29px;
    border-left: 2px solid $border-color;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-radius: 18px/40px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../assets/texture.jpg");
    padding: 2px 10px;
    box-shadow: 0 0 0 5px $border-color, -3px 3px 2px 5px #000;
  }

  &-header--set-icon {
    font-family: "Beleren Bold";
    float: right;
    border: 1px solid $border-color;
    border-radius: 18px/40px;
    margin: 2px 0;
    padding: 0 3px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      117deg,
      rgba(0, 0, 0, 0.8533788515406162) 0%,
      rgba(226, 209, 87, 1) 35%,
      rgba(226, 209, 87, 1) 72%,
      rgba(0, 0, 0, 0.8337710084033614) 100%
    );
  }
}

.frame-header {
  font-family: "Beleren Bold";
  display: flex;
  justify-content: space-between;
  border-left: 2px solid $border-color;
  border-top: 1px solid $border-color;
  border-right: 1px solid $border-color;
  margin-top: 6px;
  border-radius: 18px/40px;
  padding-left: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/texture.jpg");
  box-shadow: 0 0 0 2px #000, 0 0 0 5px $border-color, -3px 3px 2px 5px #000;
}

.icon-container {
  display: flex;
}

#mana-symbol,
#mana-cost {
  font-size: 18px;
  padding: 0px 2px;
  background: #c5c0c6;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: -0.05em 0.12em 0px 0 black;
  margin-right: 5px;
  height: 20px;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #eee;
  width: 100%;

  &-left {
    margin-top: 1.5%;
    font-size: 9px;
  }

  &-center--orb {
    border-radius: 60%;
    flex-basis: 41px;
    height: 21px;
    position: relative;
    bottom: 11px;
    z-index: 2;
    background-color: #000;
    background-image: url("../assets/holo.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 0 4px #171314;
  }

  &-right {
    margin-top: 3.75%;
    font-size: 8px;
  }

  &-right--hp {
    display: flex;
    justify-content: center;
    font-family: "Beleren Bold";
    margin: 14.5% 0 0 0;
    border: 1px solid $border-color;
    border-radius: 18px/40px;
    background-color: #a7a7a9;
    padding: 2px 10px;
    width: 65px;
    height: 31px;
    box-shadow: inset -2px 2px 1px $border-color, inset 1px -1px 0 #fff;
  }
}

.paintbrush {
  max-width: 10px;
}
